#gallery {
	position: relative;
	width: 800px;
	margin: -100px auto 0 auto;

	#pics {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 0;
		width: 100%;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none;
		}

		img {
			width: 200px;
			height: 200px;
			object-fit: cover;
		}
	}

	#pages {
		text-align: center;

		button {
			width: 10px;
			height: 10px;
			margin: 20px 5px;
			border: none;
			border-radius: 0;
			cursor: pointer;
		}

		button.active {
			background-color: #f9b700;
		}
	}
}