:root {
	--bg: #ffffff;
	--text: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1e1e1e;
		--text: #d4d4d4;
	}
}

html {
	max-width: 1000px;
	margin: auto;
	background-color: var(--bg);
	color: var(--text);
	font: normal 15px sans-serif;
}

img {
	width: 100%;
}

#education,
#education2 {
	cursor: pointer;
}

.changed1 {
	background-color: orange;
}

.changed2 {
	background-color: coral;
}

#btns {
	margin: 20px 0;
	width: 100%;
	display: flex;
	gap: 20px;

	button {
		flex: auto;
	}
}