html {
    max-width: 1000px;
    margin: auto;
}

h1 {
    margin: 0;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    width: 100%;
    height: 150px;
    background-color: #71f66e;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #faf3b4;
}

.left {
    background-color: #9291ed;
    width: 25%;
    height: 500px;
}

.right {
    background-color: #ade4f6;
    width: 75%;
    height: 500px;
}

.floated {
    .left, .right {
        float: left;
    }

    main::after {
        content: "";
        display: block;
        clear: both;
    }
}

.flexed {
    padding: 100px 0 0 0;

    main {
        display: flex;
    }
}