:root {
	--bg: #ffffff;
	--text: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1e1e1e;
		--text: #d4d4d4;
	}
}

html {
	max-width: 1000px;
	margin: auto;
	background-color: var(--bg);
	color: var(--text);
	font: 100 15px sans-serif;
}

h1 {
	margin: 0;
	text-align: center;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}


header {
	width: 100%;
	height: 150px;
	background-color: var(--green1);
}

footer {
	width: 100%;
	height: 150px;
	background-color: var(--yellow1);
}

.left {
	background-color: var(--purple1);
	width: 25%;
	height: 500px;
}

.right {
	background-color: var(--blue1);
	width: 75%;
	height: 500px;
}

.floated {

	.left,
	.right {
		float: left;
	}

	main::after {
		content: "";
		display: block;
		clear: both;
	}
}

.flexed {
	padding: 100px 0 0 0;

	main {
		display: flex;
	}
}