:root {
	--bg: #ffffff;
	--text: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1e1e1e;
		--text: #d4d4d4;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	max-width: 1000px;
	margin: auto;
	background-color: var(--bg);
	color: var(--text);
	font: normal 15px sans-serif;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;


	ul {
		display: flex;
		list-style: none;
		gap: 25px;
		text-transform: uppercase;

		a {
			text-decoration: none;
			color: white;
			font-weight: bold;
		}
	}
}

#start {
	background-image: url(https://placehold.co/2000x2000/888888/aaaaaa?text=cat);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	height: 600px;

	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	padding: 0 10%;
	color: white;

	h1 {
		margin: 0 0 10px 0;
	}

	p {
		margin: 0 0 10px 0;
	}

	button {
		padding: 10px 20px;
		border: none;
		border-radius: 0;
		cursor: pointer;
		text-transform: uppercase;
		background-color: white;
		color: black;
	}
}

#favpet {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2b00ff06;
	margin: 50px 10%;
	padding: 2%;

	h2 {
		margin: 0;
	}

	button {
		border: none;
		border-radius: 0;
		cursor: pointer;
		background-color: #f9b700;
		padding: 10px 20px;
		color: white;
	}
}

#network {
	display: flex;
	margin: 50px 0;

	img {
		width: 50%;
	}

	div {
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: column;
		width: 50%;
		padding: 20px;

		h2,
		p {
			margin: 0 0 15px 0;
		}

		button {
			border: none;
			border-radius: 0;
			cursor: pointer;
			background-color: #f9b700;
			padding: 10px 20px;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}

#video {
	margin: 100px 15%;
	text-align: center;

	video {
		width: 100%;
	}
}

#adopt {
	text-align: center;
	background-color: #2b00ff06;
	padding: 60px 50px;
	margin: 50px 0;

	h2,
	p {
		margin: 0 0 15px 0;
	}

	#steps {
		display: flex;
		justify-content: center;
		align-items: start;
		gap: 15px;

		div {
			flex: 1;
			text-align: start;

			.svg {
				width: 60px;
				height: 60px;
				object-fit: cover;

				path {
					fill: var(--text);
				}
			}

			h4,
			p {
				margin: 0 0 15px 0;
			}
		}
	}
}

footer {
	background-image: url(https://placehold.co/2000x2000/cccccc/aaaaaa?text=dog);

	height: 300px;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}