:root {
	--bg: #ffffff;
	--text: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1e1e1e;
		--text: #d4d4d4;
	}
}

html {
	max-width: 1000px;
	margin: auto;
	background-color: var(--bg);
	color: var(--text);
	font: 15px normal sans-serif;
}

button {
	display: block;
	margin: 10px auto;
}

#status {
	margin: 10px 0;
	text-align: center;
}

#users {
	display: flex;
	justify-content: center;
}