html {
    max-width: 1000px;
    margin: auto;
}

img {
    width: 100%;
}

#education,
#education2 {
    cursor: pointer;
}

.changed1 {
    background-color: orange;
}

.changed2 {
    background-color: coral;
}

#btns {
    margin: 20px 0;
    width: 100%;
    display: flex;
    gap: 20px;

    button {
        flex: auto;
    }
}