:root {
	--bg: #ffffff;
	--text: #000000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1e1e1e;
		--text: #d4d4d4;
	}
}

html {
	max-width: 1000px;
	margin: auto;
	background-color: var(--bg);
	color: var(--text);
	font: normal 15px sans-serif;
}

td {
	height: 30px;
	width: 30px;
	text-align: center;
}